---
layout: default
---

<div>
  <p> Hi! I'm a PhD Student in Neuroscience at the <a href="https://twin-cities.umn.edu/">University of Minnesota</a>. I research the neural mechanisms behind habitual and deliberative decision-making in the lab of <a href="http://redishlab.neuroscience.umn.edu/">David Redish</a>.  Right now I'm recording from neurons in the hippocampus and prefrontal cortex of rats as they run through mazes, decoding what information is being represented in those two areas, and determining what information is flowing from each area to the other.  I'm also interested in data science and machine learning - specifically in accurately quantifying the uncertainty of one's estimates.

  <h2> Posts </h2>

  {% for post in site.posts %}
    <strong> <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> </strong> <br />
    <span>{{ post.date | date_to_string }} - {% for tag in post.tags %}{{ tag }} {% endfor %}</span>
    {% if post.description %} 
      <p> {{ post.description }} </p>
    {% endif %}
    {% if post.img_url %} 
      <img src="{{ post.img_url }}" class="center_img">
    {% endif %}
    <br />
  {% endfor %}

</div>

