.col3 {
    float: left;
    width: 33.33%;
    text-align: center;
    height: 25px;
}

.col2 {
    float: left;
    width: 50%;
    text-align: center;
    height: 25px;
}

.col1 {
    float: left;
    width: 50%;
    text-align: center;
    height: 25px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    padding: 5px;
}