<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.name }}</a></h1>
        
        <img src="/assets/img/mymug.png" alt="Me" />
        
        <div class="row">
          <div class="col1"> 
            <p> {{site.position}} </p>
          </div>
        </div>

        <div class="row">
          <a href="{{ site.school_url }}">
            <div class="col1"> 
              <img src="/assets/img/school_icon.png" height="16" width="16" style="vertical-align: middle;">  
              <span style="vertical-align: middle;"> {{ site.school_name }} </span>
            </div>
          </a>
        </div>

        <div class="row">
          <a href="{{ site.place_url }}">
            <div class="col1"> 
              <img src="/assets/img/place_icon.png" height="16" width="16" style="vertical-align: middle;">  
              <span style="vertical-align: middle;"> {{ site.place_name }} </span>
            </div>
          </a>
        </div>

        <div class="row">
          <a href="{{ site.github_url }}">
            <div class="col3"> 
              <img src="/assets/img/github_icon.png" height="16" width="16" style="vertical-align: middle;"> 
              <span style="vertical-align: middle;"> Github </span>
            </div>
          </a>
          <a href="{{ site.kaggle_url }}">
            <div class="col3"> 
              <img src="/assets/img/kaggle_icon.png" height="16" width="16" style="vertical-align: middle;">  
              <span style="vertical-align: middle;"> Kaggle </span>
          </div>
          </a>
          <a href="{{ site.linkedin_url }}">
            <div class="col3">
              <img src="/assets/img/linkedin_icon.png" height="16" width="16" style="vertical-align: middle;">  
              <span style="vertical-align: middle;"> LinkedIn </span>
            </div>
          </a>
        </div>

        <div class="row">
          <a href="{{ site.email_url }}">
            <div class="col2"> 
              <img src="/assets/img/email_icon.png" height="16" width="16" style="vertical-align: middle;">  
              <span style="vertical-align: middle;"> Email </span>
            </div>
          </a>
          <a href="{{ site.cv_url }}">
            <div class="col2"> 
              <img src="/assets/img/cv_icon.png" height="16" width="16" style="vertical-align: middle;">  
              <span style="vertical-align: middle;"> CV </span>
            </div>
          </a>
        </div>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>
          <small>
            Hosted on GitHub Pages <br />
            Powered by <a href="https://jekyllrb.com/">Jekyll</a> <br />
            Theme by <a href="https://github.com/orderedlist">orderedlist</a>
          </small>
         </p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
